<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>		
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>	
		<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
		<script  src="/static/js/easyui_extend_iframe_tabs.js" ></script>
		<script src="/static/js/echarts.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/metro/easyui.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/icon.css" />
	</head>
	<body id="content"> 
		{% block content %}
		{% endblock %}
	</body>
</html>	
