{% extends "base/base.html" %}
{% block title %}
电源管理
{% endblock %}
{% block  header %}
	<script src="/static/js/sysmgr/host_power.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}


<div id="host_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
   	<div data-options="region:'center',title:'',collapsible:false" style="height:100%,width:100%">
		<table id="host_power_list">
		</table>
		<div id="power_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton button-red" onclick="get_session();obj.power_mgr('soft_shut');" iconCls="icon-remove"  plain="true">软关机</a>
				<a href='#' class="easyui-linkbutton button-warning" onclick="get_session();obj.power_mgr('soft_reboot');" iconCls="icon-remove" plain="true">软重启</a>
				<a href='#' class="easyui-linkbutton button-warning" onclick="get_session();obj.power_mgr('hard_reboot');" iconCls="icon-remove" plain="true">硬重启</a>
				<a href='#' class="easyui-linkbutton button-red" onclick="get_session();obj.power_mgr('hard_shut');" iconCls="icon-remove" plain="true">硬关机</a>
				<a href='#' class="easyui-linkbutton button-success" onclick="get_session();obj.power_reload()" iconCls="icon-reload" plain="true">刷新</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
