{% extends "base/base.html" %}
{% block title %}
主机管理
{% endblock %}
{% block  header %}
	<script src="/static/js/sysmgr/host_mgr.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}
<div id="host_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
   	<div data-options="region:'center',title:'',collapsible:false" style="height:100%,width:100%">
		<table id="mgr_host_list">
		</table>
		<div id="host_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.open_window('create_host');" iconCls="icon-add"  plain="true">新建主机</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.host_remove();" iconCls="icon-remove" plain="true">删除主机</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.host_modify();" iconCls="icon-edit" plain="true">修改主机</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.host_reload();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
				查询主机名: <input type="text" name="host_name" class="textbox" style="width:'auto'">
				创建时间从: <input type="text" name="date_from" class="easyui-datetimebox" style="width:'auto'">
				到: <input type="text" name="date_to" class="easyui-datetimebox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="get_session();obj.host_search();">查询</a>
			</div>
		</div>
	</div>
</div>

<!-- 创建主机 -->
<div id="create_host" class="easyui-window" title="新建主机" style="width:600px;height:400px" data-options="closed:true" data-options="iconCls:'icon-save',modal:true">
    <form class="easyui-form" id="create_host_form" method="post">{% csrf_token %}
     <div>
 		<input class="easyui-textbox"  name="create_host_name" type="text" data-options="required:true,label:'主机名称',prompt:'主机名称'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
 		<input class="easyui-textbox"  name="create_host_ip" type="text" data-options="required:true,label:'主机IP地址',prompt:'主机IP地址'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
 		<input class="easyui-textbox" name="create_host_ipmi" type="text" data-options="label:'主机IPMI地址',prompt:'主机IPMI地址'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
   		<select class="easyui-combobox" name="create_host_os" data-options="label:'操作系统类型'" style="width:65%;">  
		    	<option>Redhat Enterprise Linux</option>
		    	<option>SuSe Enterprise Linux</option>  
		    	<option>Other OS</option>       
	    </select> 
     </div>
     <div style="padding:5px;text-align:center;">  
         <input type="submit" class="easyui-linkbutton"  data-options="iconCls:'icon-ok'" onclick="get_session();" value="提交" style="width:50px;height:30px;">
         <input type="reset" value="重置" class="easyui-linkbutton" style="width:50px;height:30px;">
     </div>  
 	</form>
</div>

<!-- 修改主机 -->
<div id="modify_host" class="easyui-window" title="修改主机" style="width:600px;height:400px" data-options="closed:true" data-options="iconCls:'icon-save',modal:true">
    <form id="modify_host_form" method="post">{% csrf_token %}
     <div>
 		<input class="easyui-textbox"  name="modify_host_name" type="text" data-options="required:true,label:'主机名称',prompt:'主机名称'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
 		<input class="easyui-textbox" name="modify_host_ip" type="text"  data-options="required:true,label:'主机IP地址',prompt:'主机IP地址'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
 		<input class="easyui-textbox" name="modify_host_ipmi" type="text" data-options="label:'主机IPMI地址',prompt:'主机IPMI地址'" style="ime-mode:disabled;width:65%;"/>
     </div>
     <div>
   		<select class="easyui-combobox" name="modify_host_os" data-options="label:'操作系统类型'" style="width:65%;">  
		    	<option>Redhat Enterprise Linux</option>
		    	<option>SuSe Enterprise Linux</option>  
		    	<option>Other OS</option>       
	    </select> 
     </div>
     <div style="padding:5px;text-align:center;">  
         <input type="submit" class="easyui-linkbutton" onclick="get_session();" value="提交" style="width:50px;height:30px;">
         <input type="button" data-options="iconCls:'icon-cancel'" onclick="get_session();obj.close_window('modify_host');" value="取消" class="easyui-linkbutton" style="width:50px;height:30px;">
     </div>  
 	</form>
</div>

{% endblock %}
