{% extends "base/base.html" %}
{% block title %}
存储管理
{% endblock %}
{% block  header %}
	<script src="/static/js/sysmgr/storage_mgr.js"></script>
	
{% endblock %}
{% block content %}

<div id="stroage_info" class="easyui-layout"  data-options="fit:true">
   	<div data-options="region:'center',title:'共享管理',collapsible:false" style="width:40%" >
		<table id="mgr_storage_list">
		</table>
		<div id="storage_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.create_share();" iconCls="icon-add"  plain="true">新建共享</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.share_remove();" iconCls="icon-remove" plain="true">删除共享</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.share_reload();obj.create_share();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
			</div>
		</div>
	</div>
	<div data-options="region:'east',title:'共享信息',collapsible:false" style="width:60%">
		<form class="easyui-form" id="create_share_form" method="post">{% csrf_token %}
		     <div>
				  <input  class="easyui-textbox" type="text"  name="create_folder_name" data-options="required:true,label:'共享目录',prompt:'请输入需要共享的目录'"  style="ime-mode:disabled;width:65%;" >
		     </div>
		     <div>
		       <select class="easyui-combobox" data-options="label:'共享类型'" name="create_share_type" style="width:65%;">  
				  <option value='0'>NFS</option>   
			   </select> 
		     </div>
		     <div>
				  <input class="easyui-textbox" type="text" data-options="label:'共享节点',prompt:'共享目录的节点名或者ip'"  name="create_share_host" style="ime-mode:disabled;width:65%;">
		     </div>
		     <div>
				  <input class="easyui-textbox" type="text" data-options="label:'共享参数',prompt:'共享参数，如：no_root_squash，async'" name="create_share_parameter" style="ime-mode:disabled;width:65%;">
		     </div>
		     <div>
			      <select class="easyui-combobox"  name="create_share_permission" data-options="label:'共享权限'" style="width:65%;">  
					 <option value='0'>可读写</option>  
					 <option value='1'>只读</option>   
				  </select> 
			 </div>
			 <div>
				  <input class="easyui-textbox" type="text" name="create_allow_ip" data-options="label:'允许访问的IP或者网段',prompt:'允许访问的IP或者网段以逗号分隔，如:ip1,ip2,net1,nett2'" style="ime-mode:disabled;width:65%;">
		     </div>
		     <div style="padding:5px;text-align:center;">  
		         <input type="submit" class="easyui-linkbutton"  data-options="iconCls:'icon-ok'" onclick="get_session();" style="width:50px;height:30px;" value="提交">
		         <input type="reset" onclick="obj.create_share()" value="重置" class="easyui-linkbutton" style="width:50px;height:30px;">
		     </div>  
	 	</form>
	</div>
</div>

{% endblock %}