{% extends "base/base.html" %}
{% block title %}
用户管理
{% endblock %}
{% block  header %}
	<script src="/static/js/sysmgr/user_mgr.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}

<div id="user_info" class="easyui-layout"  data-options="fit:true">
   	<div data-options="region:'center',title:'',collapsible:false" style="height:100%,width:100%">
		<table id="mgr_user_list">
		</table>
		<div id="user_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.create_user_set();obj.open_window('create_user');" iconCls="icon-add"  plain="true">新建用户</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.user_remove();" iconCls="icon-remove" plain="true">删除用户</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.user_modify();" iconCls="icon-edit" plain="true">修改用户</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.user_reload();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
				查询用户名: <input type="text" name="search_user_name" class="textbox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="get_session();obj.user_search();">查询</a>
			</div>
		</div>
	</div>
</div>

<!-- 创建用户 -->
<div id="create_user" class="easyui-window" title="新建用户" style="width:600px;height:400px" data-options="closed:true" data-options="iconCls:'icon-save',modal:true">
    <form id="create_user_form" method="post">{% csrf_token %}
	    <div>
			<label for="create_user_name">用户名称:</label>
			<input name="create_user_name" type="text" placeholder="用户名称"  data-options="required:true" style="ime-mode:disabled">
	    </div>
	    <div>
			<label for="create_user_password">用户密码:</label>
			<input name="create_user_password" type="password"  placeholder="用户密码" data-options="required:true" style="ime-mode:disabled"/>
	    </div>
	    <div>
			<label for="create_user_home">主目录:</label>
			<input name="create_user_home" type="text" placeholder="主目录" data-options="required:true" style="ime-mode:disabled"/>
	    </div>
	    <div>
			<label for="create_user_group">主要组:</label>
		  	<input name="create_user_group" type="text" placeholder="主要组"  data-options="required:true" style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="create_user_other_group">附加组</label>
		  	<input name="create_user_other_group" type="text"  placeholder="附加组,默认为空"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="create_user_type">用户类型</label>
		  	<input name="create_user_type" type="text" placeholder="用户类型" />
		</div>
		<div>
			<label for="create_user_mail">邮件</label>
		  	<input name="create_user_mail" type="text"  placeholder="邮件"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="create_user_tel">电话</label>
		  	<input name="create_user_tel" type="text" placeholder="电话"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="create_user_comment">描述</label>
		  	<input name="create_user_comment" type="text" placeholder="描述">
		</div>
     <div>
 		<label for="create_user_is_login">能否登录:</label>
   		<select name="create_user_is_login">  
	    	<option>True</option>  
	    	<option>False</option>       
	    </select> 
     </div>
     <div style="padding:5px;text-align:center;">  
         <input type="submit" class="easyui-linkbutton"  data-options="iconCls:'icon-ok'" onclick="get_session();" value="提交">
         <input type="reset" value="重置" class="easyui-linkbutton">
     </div>  
 	</form>
</div>

<!-- 修改用户 -->
<div id="modify_user" class="easyui-window" title="修改用户" style="width:600px;height:400px" data-options="closed:true" data-options="iconCls:'icon-save',modal:true">
    <form id="modify_user_form" method="post">{% csrf_token %}
	    <div>
			<label for="modify_user_name">用户名称:</label>
			<input name="modify_user_name" type="text" placeholder="用户名称"  data-options="required:true" style="ime-mode:disabled">
	    </div>
	    <div>
			<label for="modify_user_password">用户密码:</label>
			<input name="modify_user_password" type="password"  placeholder="用户密码" data-options="required:true" style="ime-mode:disabled"/>
	    </div>
	    <div>
			<label for="modify_user_home">主目录:</label>
			<input name="modify_user_home" type="text" placeholder="主目录" data-options="required:true" style="ime-mode:disabled"/>
	    </div>
	    <div>
			<label for="modify_user_group">主要组:</label>
		  	<input name="modify_user_group" type="text" placeholder="主要组"  data-options="required:true" style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="modify_other_group">附加组</label>
		  	<input name="modify_other_group" type="text"  placeholder="附加组,默认为空"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="modify_user_type">用户类型</label>
		  	<input name="modify_user_type" type="text"  placeholder="用户类型" />
		</div>
		<div>
			<label for="modify_user_mail">邮件</label>
		  	<input name="modify_user_mail" type="text"  placeholder="邮件"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="modify_user_tel">电话</label>
		  	<input name="modify_user_tel" type="text" placeholder="电话"  style="ime-mode:disabled"/>
		</div>
		<div>
			<label for="modify_user_comment">描述</label>
		  	<input name="modify_user_comment" type="text" placeholder="描述">
		</div>
     <div>
 		<label for="modify_is_login">能否登录:</label>
   		<select name="modify_is_login">  
	    	<option>True</option>  
	    	<option>False</option>       
	    </select> 
     </div>
     <div style="padding:5px;text-align:center;">  
         <input type="submit" class="easyui-linkbutton" onclick="get_session();" value="提交">
         <input type="button" data-options="iconCls:'icon-cancel'" onclick="get_session();obj.close_window('modify_user');" value="取消" class="easyui-linkbutton">
     </div>    
 	</form>
</div>

{% endblock %}