{% extends "base/base.html" %}
{% block title %}
创建作业
{% endblock %}
{% block  header %}
	<script src="/static/js/job/create_job.js"></script>
	 <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    </script>
{% endblock %}
{% block content %}

<div id="job_template" class="easyui-panel" title="通用模板" style="width:500px;height:150px;padding:10px;background:#fafafa;">
	<a href='#' class="easyui-linkbutton" onclick="obj.open_window('general_job','')" iconCls="icon-add">通用模板</a>
	<a href='#' class="easyui-linkbutton" onclick="obj.open_window('general_job1','')" iconCls="icon-add">基础模板</a>
</div>
	<!-- 通用模板 -->
    <div id="general_job" class="easyui-window" title="新建通用模板作业" style="width:600px;height:400px" data-options="closed:true" data-options="iconCls:'icon-save',modal:true">
        <form id="general_job_form" method="post">{% csrf_token %}
	        <div>
	    		<label for="general_job_name">作业名称:</label>
	    		<input name="general_job_name" type="text" placeholder="作业名称"  data-options="required:true">
	        </div>
	        <div>
	    		<label for="general_workdir">工作目录:</label>
	    		<input id="general_workdir" name="general_workdir" type="text"  placeholder="工作目录" data-options="required:true" />
	    		<button type="button" onclick="get_session();obj.open_window('open_workdir','general_workdir');">浏览目录</button>
	        </div>
	        <div>
	    		<label for="general_queue_name">队列名称:</label>
		   		<select name="general_queue_name">  
			    	{% for queue_name in queue_data %} 
				    	<option>{{queue_name}}</option>   
				    {% endfor %}   
			   </select> 
	        </div>
	        <div>
	    		<label for="general_node_num">节点数量:</label>
	    		<input name="general_node_num" type="text" placeholder="节点数量" data-options="required:true" />
	        </div>
	        <div>
	    		<label for="general_core_num">每节点核心数:</label>
	    		<input name="general_core_num" type="text" placeholder="每节点核心数" data-options="required:true" />
	        </div>
	        <div>
	    		<label for="general_jobscript">作业脚本:</label>
	    		<input id="general_jobscript" name=general_jobscript type="text" placeholder="作业脚本" data-options="required:true" />	  
	    		<button type="button" onclick="get_session();obj.open_window('open_jobscript','general_jobscript');">浏览脚本</button>
	        </div>
	        <div style="padding:5px;text-align:center;">  
	            <input type="submit" class="easyui-linkbutton" onclick="get_session();" value="提交">
	            <input type="reset" value="重置" class="easyui-linkbutton">
	        </div>  
     	</form>
    </div>
<!-- 选择工作目录 -->
<div id="open_workdir" class="easyui-window" title="选择工作目录" data-options="closed:true">
	<iframe name='dir_tree' src="{% url 'dir_tree' %}" border="0" marginwidth="0" marginheight="0" 
		                	 height="400px" scrolling="yes" allowtransparency="yes" width="100%" frameborder="no" >
	</iframe> 
	<div style="padding:5px;text-align:center;">  
	    <input type="submit" id="dir_confirm" class="easyui-linkbutton" onclick="get_session();obj.close_window('open_workdir')" value="确定">
	</div>
</div>
<!-- 选择作业脚本 -->
<div id="open_jobscript" class="easyui-window" title="选择作业脚本" data-options="closed:true">
	<iframe name='file_tree' src="{% url 'file_tree' %}" border="0" marginwidth="0" marginheight="0" 
		                	 height="400px" scrolling="yes" allowtransparency="yes" width="100%" frameborder="no" >
	</iframe> 
	<div style="padding:5px;text-align:center;">  
	    <input type="submit" id="file_confirm" class="easyui-linkbutton" onclick="get_session();obj.close_window('open_jobscript')" value="确定">
	</div>
</div>

{% endblock %}