{% extends "base/base.html" %}
{% block title %}
作业管理
{% endblock %}
{% block  header %}
	<script src="/static/js/job/mgr_job.js"></script>
	<script  src="/static/js/easyui_extend_iframe_tabs.js" ></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}

<div id="job_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
   	<div data-options="region:'center',title:'',collapsible:false" style="height:100%,width:100%">
		<table id="mgr_job_list">
		</table>
		<div id="job_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="obj.addSubTab('新建作业','{% url 'create_job_index' %}')" iconCls="icon-add" plain="true">新建作业</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();" iconCls="icon-remove"  plain="true">挂起作业</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();" iconCls="icon-remove" plain="true">终止作业</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.job_remove();" iconCls="icon-remove" plain="true">批量删除作业</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.job_reload();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
				查询账号: <input type="text" name="job_user_name" class="textbox" style="width:'auto'">
				创建时间从: <input type="text" name="date_from" class="easyui-datetimebox" style="width:'auto'">
				到: <input type="text" name="date_to" class="easyui-datetimebox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="get_session();obj.job_search();">查询</a>
			</div>
		</div>
	</div>
</div>



<!-- hold job -->
<script type="text/javascript">
	$('#HoldJob').click(function(){
		$.ajaxSetup({
		    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		var $thr = $('table tbody').find('tr');
		var num = 0;
		var job_id = new Array();
		$thr.each(function(){
			if($(this).attr('class') == 'warning')
			{
				job_id[num] = $(this).children('td').next().text();
				num = num + 1;
			}	
		});
		$('#hold_confirm').css({'display':''});
		if (job_id.length == 0)
		{
			$('#hold_msg').html('请选择需要挂起的作业！');
			$('#hold_confirm').css({'display':'none'});
		}
		job_id = job_id.toString();
		$('#hold_confirm').click(function(){
			$.ajax({
				type:"post",
				url:"{% url 'hold_job'%}",
				data:{job_id:job_id},
				success:function(arg){
					if(arg == 'failed'){
						alert('Your Job hold failed!');
						$('table thead tr').find('input').prop('checked',false);
						$('table tbody tr').find('input').prop('checked',false);
						return
					}
					$('#'+job_id).html('');
				},
				error:function(arg){
					alert('Your Job hold failed!');
				}
			});
		});
	});
	/*
	$('.hold-job-modal').on('hidden.bs.modal',function(){
		job_refresh();
	});
	*/
</script>
<!-- stop job -->
<script type="text/javascript">
	$('#StopJob').click(function(){
		$.ajaxSetup({
		    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		var $thr = $('table tbody').find('tr');
		var num = 0;
		var job_id = new Array();
		$thr.each(function(){
			if($(this).attr('class') == 'warning')
			{
				job_id[num] = $(this).children('td').next().text();
				num = num + 1;
			}	
		});
		$('#stop_confirm').css({'display':''});
		if (job_id.length == 0)
		{
			$('#stop_msg').html('请选择需要终止的作业！');
			$('#stop_confirm').css({'display':'none'});
		}
		job_id = job_id.toString();
		$('#stop_confirm').click(function(){
			$.ajax({
				type:"post",
				url:"{% url 'stop_job'%}",
				data:{job_id:job_id},
				success:function(arg){
					if(arg == 'failed'){
						alert('Your Job stop failed!');
						$('table thead tr').find('input').prop('checked',false);
						$('table tbody tr').find('input').prop('checked',false);
						return
					}
					$('#'+job_id).html('');
				},
				error:function(arg){
					alert('Your Job stop failed!');
				}
			});
		});
	});
	/*
	$('.stop-job-modal').on('hidden.bs.modal',function(){
		job_refresh();
	});
	*/
</script>

{% endblock %}