{% extends "base/base.html" %}
{% block title %}
用户资源管理
{% endblock %}
{% block  header %}
	<script src="/static/js/schedmgr/mgr_user_sched.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}

<div id="mgr_user_sched_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
   	<div data-options="region:'center',title:'用户列表',collapsible:false" style="width:30%" >
		<table id="mgr_user_sched">
		</table>
	</div>
	<div data-options="region:'east',title:'用户信息',collapsible:false" style="width:70%">
		<form id="user_sched_form" method="post">{% csrf_token %}
		     <div>
		 		  <label for="user_name">用户名称</label>
				  <input type="text" name="user_name" placeholder="用户名称" style="ime-mode:disabled" >
		     </div>
			 <div>
		 		  <label for="user_max_node">最大节点数</label>
				  <input type="text" name="user_max_node" placeholder="最大节点数(留空无限制)" style="ime-mode:disabled" >
		     </div>
		     <div>
		 		  <label for="user_max_core">最大CPU核心数</label>
				  <input type="text" name="user_max_core" placeholder="最大CPU核心数(留空无限制)" style="ime-mode:disabled">
		     </div>
		     <div>
		 		  <label for="user_max_run">最大运行作业数</label>
				  <input type="text" name="user_max_job"  placeholder="最大运行作业数" style="ime-mode:disabled">
		     </div>
		 	 <div>
			    <label for="acl_queue">可访问队列</label>
		    	<input type="text" name="acl_queue" placeholder="可访问队列,逗号分割，如：queue1,queue2" style="ime-mode:disabled"> 
				<button name='queue_button' type="button" onclick="get_session();obj.open_window('open_user_queue');">浏览队列</button>
			 </div>
		     <div style="padding:5px;text-align:center;">  
		         <input type="submit" class="easyui-linkbutton"  data-options="iconCls:'icon-ok'" onclick="get_session();" value="提交">
		     </div>  
	 	</form>
	</div>
</div>

<!-- 选择队列 -->
<div id="open_user_queue" class="easyui-window" title="选择队列" data-options="closed:true">
	<iframe name='queue_tree' src="{% url 'queue_tree' %}" border="0" marginwidth="0" marginheight="0" 
		                	 height="400px" scrolling="yes" allowtransparency="yes" width="100%" frameborder="no" >
	</iframe> 
	<div style="padding:5px;text-align:center;">  
	    <input type="submit" id="queue_confirm" class="easyui-linkbutton" onclick="get_session();obj.close_window('open_user_queue')" value="确定">
	</div>
</div>



{% endblock %}