{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}

{% block content %}

<div  style="margin-top: 0px;margin-right: 5px;">
	<div class="panel panel-default" style="overflow-y:auto;">
	    <div class="panel-body">
	    	<table class="table table-hover">
		    	<thead>
		          	<tr>
			            <th>服务名称</th>
			            <th>服务类型</th>
			            <th>服务主目录</th>
			            <th>服务进程</th>
			            <th>服务状态</th>
			            <th>进程号</th>
			            <th>备注信息</th>
		          	</tr>
				</thead>
				<tbody>
					{% for pbs_service_name,value in pbs_service_dict.items %}
						<tr>
							<th>{{ pbs_service_name }}</th>
							<th>{{ value.pbs_type }}</th>
							<th>{{ value.pbs_home }}</th>
							<th>{{ value.pbs_process }}</th>
							<th>{{ value.pbs_servcie_status }}</th>
							<th>{{ value.service_process_num }}</th>
							<th>{{ value.pbs_service_info }}</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>	
		</div>	
	</div>	 
</div> 

{% endblock %}