{% extends "base/base.html" %}
{% block title %}
节点调度管理
{% endblock %}
{% block  header %}
	<script src="/static/js/schedmgr/mgr_sched_node.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}
<div id="node_sched_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
   	<div data-options="region:'center',title:'',collapsible:false" style="height:100%,width:100%">
		<table id="node_sched_list">
		</table>
		<div id="node_sched_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.mgr_node_sched('start')" iconCls="icon-remove"  plain="true">启动服务</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.mgr_node_sched('stop')" iconCls="icon-remove" plain="true">停止服务</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.mgr_node_sched('restart')" iconCls="icon-remove" plain="true">重新启动服务</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.reload_node_sched();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}