<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>YiHPC</title>		
		<script  src="/static/js/jquery.min.js"></script>	
		<script  src="/static/js/jquery.easyui.min.js"></script>
		<script  src="/static/js/easyui-lang-zh_CN.js"></script>
		<script  src="/static/js/index/admin_default.js" ></script>
		<script  src="/static/js/easyui_extend_iframe_tabs.js" ></script>
        <link rel="stylesheet" type="text/css" href="/static/css/metro/easyui.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/icon.css" />
	</head>
	<body class="easyui-layout" > 
		<div data-options="region:'north'">
			<div>
				<div style="float:left;font-size:28px;margin-top:5px">AmazingCloud</div>
				<div style="float:right;padding:15px 15px 0 0">当前用户 : {{user_name}}
					<a  href="{% url 'logout' %}">注销</a>
				</div>
			</div> 
		</div>
		<div data-options="region:'west',split:false,title:'导航'" style ="width:150px;">
			<!-- 
			<div id="menu_nav"></div>
			-->
			<div class="easyui-accordion" data-options="border:false,multiple:true,collapsed:false">
               <div data-options="collapsible:true,title:'系统管理',animate:true,iconCls:'icon-system',">
                    <div class="westBar " id="system_mgr" data-options="fit:true">
                        <a class="easyui-linkbutton" iconCls='icon-host' rel="/sysmgr/host_mgr" plain="true" style="width:100%">主机管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-man' rel="/sysmgr/user_mgr" plain="true" style="width:100%">用户管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-storage' rel="/sysmgr/storage_mgr" plain="true" style="width:100%">存储管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-power' rel="/sysmgr/host_power_index" plain="true" style="width:100%">电源管理</a>
                    </div>
               </div>
               <div data-options="collapsible:true,title:'作业管理',animate:true,iconCls:'icon-job_mgr',collapsed:false">
                    <div class="westBar " id="job_mgr" data-options="fit:true">
                        <a class="easyui-linkbutton" iconCls='icon-new_job' rel="/job/create_job_index" plain="true" style="width:100%">新建作业</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-job_mgr1' rel="/job/mgr_job" plain="true" style="width:100%">作业管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-job_report' rel="/job/report_job_index" plain="true" style="width:100%">作业报表</a>
                    </div>
               </div>
               <div data-options="collapsible:true,title:'调度管理',animate:true,iconCls:'icon-sched_mgr',collapsed:false">
                    <div class="westBar " id="sched_mgr" data-options="fit:true">
                        <a class="easyui-linkbutton" iconCls='icon-mgr_queue' rel="/schedmgr/mgr_queue_index" plain="true" style="width:100%">作业队列管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-mgr_sched_service' rel="/schedmgr/mgr_sched_index" plain="true" style="width:100%">调度服务管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-mgr_user_sched' rel="/schedmgr/mgr_user_sched_index" plain="true" style="width:100%">用户资源管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-mgr_node_sched' rel="/schedmgr/mgr_node_sched_index" plain="true" style="width:100%">节点调度管理</a>
                    </div>
               </div>
               <div data-options="collapsible:true,title:'集群管理',animate:true,iconCls:'icon-mgr_cluster',collapsed:false">
                    <div class="westBar " id="cluster_mgr" data-options="fit:true">
                        <a class="easyui-linkbutton" iconCls='icon-mgr_file' rel="/clusmgr/mgr_file_index" plain="true" style="width:100%">文件管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-mgr_process' rel="/clusmgr/mgr_process" plain="true" style="width:100%">进程管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-vnc_login' rel="/clusmgr/vnc_login" plain="true" style="width:100%">VNC登录</a>
                    </div>
               </div>
               <div data-options="collapsible:true,title:'系统监控',animate:true,iconCls:'icon-mgr_monitor',collapsed:false">
                    <div class="westBar " id="monitor_mgr" data-options="fit:true">
                        <a class="easyui-linkbutton" iconCls='icon-node_monitor' rel="/monitor/node_list" plain="true" style="width:100%">节点监控</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-monitor_alarm' rel="/monitor/monitor_alarm_index" plain="true" style="width:100%">告警管理</a>
                        <br>
                        <a class="easyui-linkbutton" iconCls='icon-monitor_report' rel="/monitor/report_monitor_index" plain="true" style="width:100%">监控报表</a>
                    </div>
               </div>
           </div>

		</div>
		<div   data-options="region:'center'">
			<div id="default_tabs">
				<div title="首页">
					<iframe  src='{% url "index" %}' width='100%' scrolling="auto" frameborder="0" height="99%"></iframe>
				</div>
 			</div>
		</div>	
	</body>
</html>	
