<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>YiHPC</title>		
		<script  src="/static/js/jquery.min.js"></script>	
		<script  src="/static/js/jquery.easyui.min.js"></script>
		<script  src="/static/js/easyui-lang-zh_CN.js"></script>
		<script  src="/static/js/index/admin_default.js" ></script>
		<script  src="/static/js/easyui_extend_iframe_tabs.js" ></script>
        <link rel="stylesheet" type="text/css" href="/static/css/metro/easyui.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/icon.css" />
	</head>
	<body class="easyui-layout" > 
		<div data-options="region:'north'">
			<div>
				<div style="float:left;font-size:28px;margin-top:5px">AmazingCloud</div>
				<div style="float:right;padding:15px 15px 0 0">当前用户 : {{user_name}}
					<a  href="{% url 'logout' %}">注销</a>
				</div>
			</div> 
		</div>
		<div data-options="region:'west',split:false,title:'导航'" style ="width:150px;">
			<div id="menu_nav"></div>
		</div>
		<div   data-options="region:'center'">
			<div id="default_tabs">
				<div title="首页">
					<iframe  src='{% url "index" %}' width='100%' scrolling="auto" frameborder="0" height="99%"></iframe>
				</div>
 			</div>
		</div>	
	</body>
</html>	
