<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
 	<script src="/static/js/jquery-1.11.3.min.js" ></script>
 	<script src="/static/js/bootstrap.min.js" ></script>
 	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
 	<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/css/ace-rtl.min.css"/>
	<link rel="stylesheet" href="/static/css/ace-skins.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css" />	
	<script src="/static/js/ace-extra.min.js"></script>
	<script src="/static/js/ace.min.js"></script>
	<script src="/static/js/sidebar-menu.js"></script>
	<script src="/static/js/bootstrap-tab.js"></script> 
</head>	
<body>
<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-default navbar-fixed-top" id="nav-header">
			<div class="container">
				<div class="navbar-header">
					<!--  
					<a href="{% url 'index' %}" class="navbar-brand logo"><img  src="/static/images/logo.png" alt="易星云"/></a>
					-->
					<h style="font-size:35px;">AmazingCloud</h>
				</div>
			</div> 
		</nav>
		<div class="sidebar col-md-2" id="sidebar" style="width:12%">
		        <ul class="nav nav-list" id="menu"></ul>
		        <div class="sidebar-collapse" id="sidebar-collapse">
		          <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
		        </div>
		</div>	
		<div class="main-content col-md-10" >
			<div class="page-content">
		    	<div class="row">
		        	<div >
		              <ul class="nav nav-tabs" role="tablist">
		                <li class="active"><a href="#Index" id='index' role="tab" data-toggle="tab">首页</a></li>
		              </ul>
		              <div class="tab-content">
		                <div role="tabpanel" class="tab-pane active" id="Index">
		                	<iframe src="{% url 'index' %}" border="0" marginwidth="0" marginheight="0" 
		                	 height="85%" scrolling="yes" allowtransparency="yes" width="105%" frameborder="no" ></iframe>  
		                </div>
		              </div>
		            </div>
		       </div>
		   </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//点击首页刷新
	$('#index').click(function(){
		var html = '<iframe src="{% url "index" %}" border="0" marginwidth="0" marginheight="0" height="85%" \
		scrolling="yes" allowtransparency="yes" width="105%" frameborder="no" ></iframe>'
		$('#Index').html(html)
	});
</script>

<script type="text/javascript">

$(function () {	
	//设置菜单
    $('#menu').sidebarMenu({
      data: [{
        id: '1',
        text: '系统管理',
        icon: 'pull-right glyphicon glyphicon-chevron-down',
        url: '',
        menus: [{
          id: '11',
          text: '主机管理',
          icon: 'icon-glass',
          url: "{% url 'sysmgr.views.host_mgr' host_mgr %}"
      	},{
              id: '12',
              text: '用户管理',
              icon: 'icon-glass',
              url: "{% url 'sysmgr.views.user_mgr' user_mgr %}"
         }]
      }, {
        id: '2',
        text: '作业管理',
        icon: 'pull-right glyphicon glyphicon-chevron-down',
        url: '',
        menus: [{
          id: '21',
          text: '新建作业',
          icon: 'icon-glass',
          url: "{% url 'create_job' %}"
        }, {
          id: '22',
          text: '作业管理',
          icon: 'icon-glass',
          url: "{% url 'job.views.mgr_job' mgr_job %}"
        }, {
          id: '23',
          text: '队列管理',
          icon: 'icon-glass',
          url:  "{% url 'job.views.mgr_queue' mgr_queue %}"
        }, {
          id: '24',
          text: '站点管理',
          icon: 'icon-glass',
          url: '/Station/Index'
        }]
      }, {
        id: '3',
        text: '系统监控',
        icon: 'pull-right glyphicon glyphicon-chevron-down',
        url: '',
        menus: [{
          id: '31',
          text: '节点监控',
          icon: 'icon-user',
          url: "{% url 'node_list' %}"
        }, {
          id: '32',
          text: '角色管理',
          icon: 'icon-apple',
          url: '/SystemSetting/Role'
        }, {
          id: '33',
          text: '菜单管理',
          icon: 'icon-list',
          url: '/SystemSetting/Menu'
        }, {
          id: '34',
          text: '部门管理',
          icon: 'icon-glass',
          url: '/SystemSetting/Department'
        }]
      }, {
        id: '4',
        text: '集群管理',
        icon: 'pull-right glyphicon glyphicon-chevron-down',
        url: '',
        menus: [{
          id: '41',
          text: '文件管理',
          icon: 'icon-glass',
          url: ''
          }, {
          id: '42',
          text: '订单排产',
          icon: 'icon-glass',
          url: '/Order/PLANTPRODUCT'
        }]
      
      }]
    });
  });
  $(function(){
	  $('.submenu').css('display','none');
  })
</script>
</body>
		
