{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}
{% block  header %}
	<script src="/static/js/echarts.min.js"></script>
	<script src="/static/js/index/index.js"></script>
	<style>
		.textbox{
			height : 20px;
			margin : 0;
			padding: 0 2px;
			box-sizing : content-box;
		}
	</style>
{% endblock %}
{% block content %}
<div id="cluster_info" class="easyui-layout"  data-options="fit:true" style="overflow:auto;">
	<div id="cluster_node" data-options="region:'west',title:'集群节点试图',collapsible:false,maxHeight:320" style="height:280px;width:25%;"></div> 
	<div id="cluster_cpu" data-options="region:'center',title:'集群CPU试图',collapsible:false,maxHeight:320" style="height:280px;width:25%"></div>
	<div  data-options="region:'east',title:'集群队列试图',collapsible:false,maxHeight:320"  style="height:280px;width:50%;">
		<div id="cluster_queue" style="height:280px;margin-right: 100px;"></div> 
	</div>
   	<div data-options="region:'south',title:'最近作业情况',collapsible:false" style="height:100%,width:100%">
		<table id="index_job_list">
		</table>
		<div id="job_button" style="padding:5px;">
			<div>
				查询账号: <input type="text" name="job_user_name" class="textbox" style="width:110px">
				开始时间从: <input type="text" name="date_from" class="easyui-datetimebox" style="width:'auto'">
				到: <input type="text" name="date_to" class="easyui-datetimebox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="obj.job_search();">查询</a>
			</div>
		</div>
	</div>
</div>

<!-- 集群节点状态 -->
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('cluster_node'));
 	// 指定图表的配置项和数据
    var option = {
    	    tooltip : {
    	        trigger: 'item',
    	    },
    	    legend: {
    	        x : 'center',
    	       	y : 'bottom',
    	       	data:['空闲','宕机','离线','未知']
    	    },
    	    series : [
    	        {
    	            name:'节点状态',
    	            type:'pie',
    	            radius : [10, 60],
    	            roseType : 'radius',
    	            data:[
			{
			    value:{{ pbs_free_nodes }},
			    name:'空闲',
			    itemStyle:{normal:{color:'mediumseagreen'}}
			},
			{
			    value:{{ pbs_down_nodes }},
			    name:'宕机',
			    itemStyle:{normal:{color:'red'}}
			},
			{
			    value:{{ pbs_offline_nodes }},
			    name:'离线',
			    itemStyle:{normal:{color:'gray'}}
			},
			{
			    value:{{ pbs_unknown_nodes }},
			    name:'未知',
			    itemStyle:{normal:{color:'orange'}}
			},
    	                
    	            ]
    	        }
    	    ]
    	};
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<!-- 集群CPU状态 -->
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('cluster_cpu'));
	option = {
			color:['mediumseagreen','gray'], 
			tooltip : {
    	        trigger: 'axis',
    	    },   
		    legend: {
		    	x : 'center',
    	       	y : 'bottom',
		        data:['逻辑CPU个数','CPU使用百分比'],
		    		},
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : ['CPU总体情况'],
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'逻辑CPU个数',
		            type:'bar',
		            data: [{{ l_cpu_count__sum }}]
		        },
		        {
		            name:'CPU使用百分比',
		            type:'bar',
		            data: [{{ cpu_percent__sum }}]		           
		        }
		    ]
		};             
	myChart.setOption(option);    
</script>
<!-- 集群队列状态 -->
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('cluster_queue'));
	var queue_arr = new Array();
	var queue_max_job = new Array();
	var queue_run_job = new Array();
	var num = 0;
	for(var key in {{ queue_status|safe }}){
		queue_arr[num] = key;
		//获取返回字典的值，获取key和value
		queue_max_job[num] = {{ queue_status|safe }}[key][0];
		
		if(queue_max_job[num] == 0){
			queue_max_job[num] = '无限制';
		}
		
		queue_run_job[num] = {{ queue_status|safe }}[key][1];
		num = num + 1;
	}
	option = {
			color:['mediumseagreen','gray'], 
			tooltip : {
    	        trigger: 'axis',
    	    },   
		    legend: {
		    	x : 'center',
    	       	y : 'bottom',
		        data:['最大允许作业数量','作业运行数量'],
		    		},
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : queue_arr
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'最大允许作业数量',
		            type:'bar',
		            data: queue_max_job
		        },
		        {
		            name:'作业运行数量',
		            type:'bar',
		            data: queue_run_job		           
		        }
		    ]
		};             
	myChart.setOption(option); 
</script>
{% endblock %}
