{% extends "base/base.html" %}
{% block title %}
告警管理
{% endblock %}
{% block  header %}
	<script src="/static/js/monitor/monitor_alarm.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}

<div id="monitor_alarm_info" class="easyui-layout"  data-options="fit:true">
   	<div data-options="region:'center',title:'',collapsible:false">
		<table id="monitor_alarm_list">
		</table>
		<div id="monitor_alarm_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.alarm_remove();" iconCls="icon-remove" plain="true">批量删除告警</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.alarm_reload();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
				查询主机: <input type="text" name="host_name" class="textbox" style="width:'auto'">
				创建时间从: <input type="text" name="date_from" class="easyui-datetimebox" style="width:'auto'">
				到: <input type="text" name="date_to" class="easyui-datetimebox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="get_session();obj.alarm_search();">查询</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}