{% extends "base/base.html" %}
{% block title %}
告警管理
{% endblock %}
{% block  header %}
	<script src="/static/js/monitor/monitor_alarm.js"></script>
	<style>
		.textbox{
			height:20px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		};
	</style>
{% endblock %}
{% block content %}

<div id="monitor_alarm_info" class="easyui-layout"  data-options="fit:true">
   	<div data-options="region:'center',title:'',collapsible:false">
		<table id="monitor_alarm_list">
		</table>
		<div id="monitor_alarm_button" style="padding:5px;">
			<div>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.alarm_remove();" iconCls="icon-remove" plain="true">批量删除告警</a>
				<a href='#' class="easyui-linkbutton" onclick="get_session();obj.alarm_reload();" iconCls="icon-reload" plain="true">刷新</a>
			</div>
			<div>
				查询主机: <input type="text" name="host_name" class="textbox" style="width:'auto'">
				创建时间从: <input type="text" name="date_from" class="easyui-datetimebox" style="width:'auto'">
				到: <input type="text" name="date_to" class="easyui-datetimebox" style="width:'auto'">
				<a href='#' class="easyui-linkbutton" iconCls="icon-search" onclick="get_session();obj.alarm_search();">查询</a>
			</div>
		</div>
	</div>
</div>




<div class="list-op" id="list_op">  
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"  id='del_alarm' data-target=".del-alarm-modal">  
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量删除告警
    </button>   
</div> 

<!-- delete alarm -->
<div class="modal fade del-alarm-modal" tabindex="-1" role="dialog">
  	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <h4 class="modal-title" >删除告警</h4>        
	      	</div>
		    <div class="modal-body">	        
		        	<p id='del_msg'>
						确认删除选中告警？
					</p>				
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal" id='del_comfirm'>提交</button>
		    </div>
	    </div>
  	</div>
</div>	



<!-- delete alarm -->
<script type="text/javascript">
	$('#del_alarm').click(function(){
		$.ajaxSetup({
		    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		get_session();
		var $thr = $('table tbody').find('tr');
		var c_time = new Array();
		var num = 0;
		//循环列表，查找选中的行
		$thr.each(function(){
			if($(this).attr('class') == 'warning')
			{
				c_time[num] = $(this).attr('id');  //获取id
				num = num + 1;
			}	
		});
		if (c_time.length == 0)
		{
			$('#del_msg').html('请选择需要删除的告警！');
			$('#del_comfirm').css({'display':'none'});
		};
		c_time = c_time.toString();
		$('#del_comfirm').click(function(){
			$.ajax({
				type:"post",
				url:"{% url 'del_alarm'%}",
				data:{c_time:c_time},
				success:function(arg){
				},
				error:function(arg){
					//alert('Your Host is failed add!');
				}
			});
		});
	});
	$('.del-alarm-modal').on('hidden.bs.modal',function(){
		alarm_refresh();
	});
</script>

{% endblock %}