{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}

{% block content %}

{% for i in node_data %}
	{% if forloop.counter0|divisibleby:5 %}
	   	<div class="list-group col-md-1" id="tt">	
			<div class="list-group-item active">
				节点名
		   	 </div>
   	 	<a href="javascript:void(0)" url="{% url 'node_monitor' %}" id="{{ i.host_name }}">{{ i.host_name }}</a>
	{% elif forloop.counter|divisibleby:5 %}
		<a href="javascript:void(0)" url="{% url 'node_monitor' %}" id="{{ i.host_name }}">{{ i.host_name }}</a>
	 	</div>
	{% else %}
		<a href="javascript:void(0)" url="{% url 'node_monitor' %}" id="{{ i.host_name }}">{{ i.host_name }}</a>
	{% endif %}		
{% endfor %}

<script>
	$('div a').click(function(){
		title = $(this).attr('id');
		url = $(this).attr('url');
		var jq = top.jQuery;
		if (jq('#tabs').tabs('exists', title)){
			jq('#tabs').tabs('select', title);
		} else {
			jq('#tabs').tabs('addIframeTab', {
				tab : {
					title : title,
					closable : true,
					state : 'open',
				},
				iframe : {
					src : url + '?' + 'host_name=' + title,
					message : '数据正在加载中,请稍后...',
				},
			});//addtabs结束
		};//判断tab是否存在结束	
	});
</script>
{% endblock %}
