{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}
{% block  header %}
	<script src="/static/js/monitor/node_list.js"></script> 

	<style>
		.textbox{
			height : 20px;
			margin : 0;
			padding: 0 2px;
			box-sizing : content-box;
		}
	</style>
{% endblock %}
{% block content %}
	{% for i in node_data %}
		{% if forloop.counter0|divisibleby:30 %}
			<table class="easyui-datagrid" data-options="fit:false,width : 'auto',fitColumns : true,nowrap : true,scrollbarSize : 0,singleSelect : true" style="width:8%">
		      	<thead>
		          	<tr>
			            <th data-options="field:'node_name',width:100">节点列表</th>
		          	</tr>
				</thead>
		      	<tbody>
					<tr>
						<td>
							<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-node" url="{% url 'node_monitor' %}" id="{{ i.host_name }}">{{ i.host_name }}</a>
						</td>
					</tr>
		{% elif forloop.counter|divisibleby:30 %}
					<tr>
						<td>
							<a href="javascript:void(0)" class="easyui-linkbutton" plain="true"  iconCls="icon-node" url="{% url 'node_monitor' %}" id="{{ i.host_name }}">{{ i.host_name }}</a>
						</td>
					</tr>
					</tbody>
				</table>
		{% else %}
			<tr>
				<td>
					<a href="javascript:void(0)" class="easyui-linkbutton" url="{% url 'node_monitor' %}"  iconCls="icon-node" plain="true" id="{{ i.host_name }}">{{ i.host_name }}</a>
				</td>
			</tr>
		{% endif %}	
	{% endfor %}
{% endblock %}
