{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}
{% block  header %}
	<script src="/static/js/jquery.address-1.6.js"></script>
	<script src="/static/js/jstree.min.js"></script> 
	<script src="/static/js/clusmgr/dir_content.js"></script> 
	<script src="/static/js/fileinput.min.js" ></script>
 	<script src="/static/js/fileinput_zh.js" ></script>
 	<link rel="stylesheet" href="/static/css/fileinput.min.css"/>
	<style>
		.textbox{
			height : 20px;
			margin : 0;
			padding: 0 2px;
			box-sizing : content-box;
		}
	</style>
{% endblock %}
{% block content %}
	<table id="dir_content_nav" class="easyui-datagrid"  data-options="fit:true,width : 'auto',fitColumns : true,nowrap : true,scrollbarSize : 0, toolbar : '#mgr_file_button'">
      	<thead id="folder_header">
          	<tr>
          		<th data-options="field:'id',checkbox:true,width:100">ID</th>
	            <th data-options="field:'name',width:100">名称</th>
	            <th data-options="field:'size',width:100">大小</th>
	            <th data-options="field:'file_type',width:100">类型</th>
	            <th data-options="field:'modify_time',width:100">修改时间</th>
	            <th data-options="field:'permission',width:100">权限</th>
	            <th data-options="field:'username',width:100">所属用户</th>
	            <th data-options="field:'group',width:100">所属用户组</th>
          	</tr>
		</thead>
      	<tbody id="folder_content" >
			
		</tbody>
	</table>
	<div id="mgr_file_button" style="padding:5px;">
		<a href='#' class="easyui-linkbutton" onclick="get_session();obj.open_window('file_upload_content');" id="file_upload" iconCls="icon-add" plain="true">上传文件</a>
		<a href='#' class="easyui-linkbutton" onclick="get_session();obj.upload_file();obj.download_file();" iconCls="icon-remove"  plain="true">下载文件</a>
		<a href='#' class="easyui-linkbutton" onclick="get_session();obj.delete_file();" iconCls="icon-remove" plain="true">删除文件</a>
		<a href='#' class="easyui-linkbutton" onclick="get_session();obj.file_reload();" iconCls="icon-reload" plain="true">刷新</a>
	</div>
	<!-- 上传文件 -->
	<div id=file_upload_content class="easyui-window" title="选择上传文件" data-options="closed:true,width:600">
		<iframe name='file_upload_content' src="{% url 'file_upload_index' %}" border="0" marginwidth="0" marginheight="0" 
			                	 height="400px" scrolling="yes" allowtransparency="yes" width="100%" frameborder="no" >
		</iframe> 
		<div style="padding:5px;text-align:center;">  
	    	<input type="submit" class="easyui-linkbutton" onclick="get_session();obj.close_window('file_upload_content')" value="关闭">
		</div>
	</div>
{% endblock %}
