<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8">
    <title>目录选择器</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/js/themes/default/style.min.css" />
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/jquery.address-1.6.js"></script>
    <script src="/static/js/jstree.min.js"></script> 
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
</head>
<body>

<div id="container"></div>
<script>
	$(function() {
		//单击展开收缩
		/*
		$('#container').on('click', '.jstree-anchor', function (e) {
			//判断返回值
			var url = "{% url 'get_dir_tree' %}" + "?id=#" 
			$.get(url, function(data){
				if(data == 'no data'){
					alert('登录超时，请重新登录');
					window.top.location.href = '/login';
					return
				}
			});
		    $('#container').jstree(true).toggle_node(e.target);	    
		  });
		*/
		 $('#container a').on('dblclick', '.jstree-anchor', function (e) {
				$('#mgr_file_list',window.parent.document).html('');
		 });
		//判断是否超时
		$('#container').on('click', '.jstree-anchor', function (e) {
			//判断返回值
			var url = "{% url 'get_session' %}"
			$.get(url, function(data){
				if(data == 'no data'){
					alert('登录超时，请重新登录');
					window.top.location.href = '/login';
					return
				}
			});
		  });
		//动态获取数据， 非一次性加载
		tree = $('#container').jstree({
		   core : {
		     dblclick_toggle : true,
		     'multiple' : false,
		     'data' : {
		         "url" : "{% url 'get_dir_tree' %}",
		         "dataType": "json",
		         "data" : function (node) {
		             return { "id" : node.id };
		         }
		       },   
		   },//core结束
		   "force_text": true,
           "plugins": ["sort", "types", "checkbox", "themes", "html_data",'state'],
           "checkbox": {
               "keep_selected_style": false,//是否默认选中
               "three_state": false,//父子级别级联选择
               "tie_selection": false
           },
           'state':'closed',
		});
		//单选
		$('#container').on('check_node.jstree', function(event, obj) {
            var ref = $('#container').jstree(true);
            var nodes = ref.get_checked();  //使用get_checked方法
            $.each(nodes, function(i, nd) {
                if (nd != obj.node.id)
                    ref.uncheck_node(nd);
            });
        });
		//获取点击的事件，获取选择的内容
		tree.bind("open_node.jstree close_node.jstree check_node.jstree uncheck_node.jstree", function(e) {
		       all_result = tree.jstree('get_checked');
		       $('#dir_confirm',window.parent.document).click(function(){
			    	var select_form = $('#open_workdir',window.parent.document).children('iframe').attr('name');
			    	parent.$('#' + select_form).form('load',{
			    		workdir : all_result,
			    	   });
				});
		 });//获取选择节点结束
			
	});
</script>
</body>
</html>