<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8">
    <title>目录选择器</title>
    <meta name="viewport" content="width=device-width" />     
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />    
    <script src="/static/js/jquery-1.11.3.min.js" ></script>
	<script src="/static/js/bootstrap.min.js" ></script> 
    <script src="/static/js/jquery.address-1.6.js"></script>
    <script src="/static/js/jstree.min.js"></script> 
</head>
<body>

<div id="container"></div>
<script>
	$(function() {
		//单击展开收缩
		$('#container').on('click', '.jstree-anchor', function (e) {
		    $('#container').jstree(true).toggle_node(e.target);	    
		  });
		//动态获取数据， 非一次性加载
		$('#container').jstree({
		   core : {
		     dblclick_toggle : false,
		     'data' : {
		         "url" : "{% url 'get_dir_tree' %}",
		         "dataType": "json",
		         "data" : function (node) {
		             return { "id" : node.id };
		         }
		       },   
		   }
		});
		//获取点击的事件，获取选择的内容
		$('#container').on("changed.jstree", function (e, data) {
		    var data_select = data.selected[0];
		    $('#dir_confirm',window.parent.document).click(function(){
				$('#Work_dir',window.parent.document).val(data_select);
			});
		  });	
	});
</script>

</body>
</html>