<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="/static/js/jquery-1.11.3.min.js" ></script>
	 	<script src="/static/js/bootstrap.min.js" ></script>
	 	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	 	<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>	
	</head>
	<body> 
		<table class="table table-hover"  style="table-layout: fixed;WORD-BREAK: break-all; WORD-WRAP: break-word">
      	<thead>
          	<tr>
	            <th>名称</th>
	            <th>大小</th>
	            <th>类型</th>
	            <th  width="220">修改时间</th>
	            <th>权限</th>
	            <th>所属用户</th>
	            <th>所属用户组</th>
          	</tr>
		</thead>
      	<tbody id="folder_content" class='false'>
			
		</tbody>		
	</table>
	
	<script type="text/javascript">
		$('#dir_tree div',window.parent.document).on('click', '.jstree-anchor', function (e) {
			var folder_id = $(this).parent().attr('id'); 
			//每次加载前内容清空
			$('#folder_content').html('');
			$.ajax({
				type:"post",
				url:"{% url 'dir_content' %}",
				data:{folder_id:folder_id},
				success:function(arg){
					var obj = jQuery.parseJSON(arg)
						$.each(obj,function(k,v){
							var folder_name = v.name
							var folder_size = v.size;
							var folder_type = v.file_type;
							var folder_modify_time = v.modify_time;
							var folder_permission = v.permission;
							var folder_username = v.username;
							var folder_group = v.group;
							if(folder_type == '文件夹'){
								var table_content = '<tr> + <th class="glyphicon glyphicon-folder-close">'+folder_name+
								'</th> + <th>'+folder_size+ ' 字节' +
								'</th> + <th>'+folder_type+
								'</th> + <th>'+folder_modify_time+
								'</th> + <th>'+folder_permission+
								'</th> + <th>'+folder_username+
								'</th> + <th>'+folder_group+
								'</th> + </tr>';
							}else{
								var table_content = '<tr> + <th class="glyphicon glyphicon-file">'+folder_name+
								'</th> + <th>'+folder_size+ ' 字节' +
								'</th> + <th>'+folder_type+
								'</th> + <th>'+folder_modify_time+
								'</th> + <th>'+folder_permission+
								'</th> + <th>'+folder_username+
								'</th> + <th>'+folder_group+
								'</th> + </tr>';
							}
							$('#folder_content').append(table_content);
						});
					if (!$('#folder_content').html()){
						$('#folder_content').html('目录为空');
					};
				},
				error:function(arg){
				}
			}); //ajax结束
	  	});
	</script>
	</body>
</html>	

