<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="/static/js/jquery-1.11.3.min.js" ></script>
	 	<script src="/static/js/bootstrap.min.js" ></script>
	 	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	 	<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>	
	</head>
	<body> 
		<div class="col-md-1" id="folder">{{folder}}</div>
		<div class="col-md-11">dd</div>
	
	<script type="text/javascript">
		$('#dir_tree div',window.parent.document).on('click', '.jstree-anchor', function (e) {
			var folder_id = $(this).attr("id");  //'/xx/xx/xx_anchor'
			var folder =folder_id.substr(0,folder_id.length - 7);  //后缀_anchor
			console.log(folder);
			
	  	});
	</script>
	</body>
</html>	

