{% extends "base/base.html" %}
{% block title %}
YiCloud
{% endblock %}
{% block  header %}
	<script src="/static/js/clusmgr/mgr_process.js"></script> 

	<style>
		.textbox{
			height : 20px;
			margin : 0;
			padding: 0 2px;
			box-sizing : content-box;
		}
	</style>
{% endblock %}
{% block content %}
	<div  id='node_process_info' data-options="region:'west',split:false,collapsible:false" style="width:10%">
		<table class="easyui-datagrid" data-options="fit:true,width : 'auto',fitColumns : true,nowrap : true,scrollbarSize : 0,">
	      	<thead>
	          	<tr>
		            <th data-options="field:'node_name',width:100">节点列表</th>
	          	</tr>
			</thead>
	      	<tbody id="test">
				<!-- 判断主机名中是否含"." -->
					{% for host_name in node_data %}
						{% if "." in host_name  %}
							<tr>
								<td>
										<a href="javascript:void(0)" >{{ host_name }}</a>
								 </td>
							</tr>	
						{% else %}
							<tr>
								<td>
										<a href="javascript:void(0)" >{{ host_name }}</a>
								</td>
							</tr>
					   	{% endif %}
				   	{% endfor %}
			</tbody>		
		</table>
	</div>
	<div id='process_info' data-options="region:'center',split:false,collapsible:false" style="width:90%">
		<table id="process_content_nav" class="easyui-datagrid"  data-options="fit:true,width : 'auto',fitColumns : true,nowrap : true,scrollbarSize : 0, toolbar : '#mgr_process_button'">
	      	<thead id="folder_header">
	          	<tr>
	          		<th data-options="field:'id',checkbox:true,width:100">ID</th>
		            <th data-options="field:'name',width:100">进程名</th>
		            <th data-options="field:'pid',width:100">进程ID</th>
		            <th data-options="field:'cpu',width:100">进程CPU%</th>
		            <th data-options="field:'mem',width:100">进程MEM%</th>
		            <th data-options="field:'time',width:100">TIME</th>
		            <th data-options="field:'user',width:100">用户</th>
	          	</tr>
			</thead>
	      	<tbody id="process_list" >
				
			</tbody>
		</table>
		<div id="mgr_process_button" style="padding:5px;">
			<a href='#' class="easyui-linkbutton" onclick="get_session();obj.process_stop();" iconCls="icon-remove" plain="true">终止进程</a>
			<a href='#' class="easyui-linkbutton" onclick="get_session();obj.process_reload();" iconCls="icon-reload" plain="true">刷新</a>
		</div>
	</div>
	
{% endblock %}
