<!DOCTYPE html>
<html class="">
	<head>
	    <meta charset="utf-8">
	    <title>主机进程信息</title>
	    <meta name="viewport" content="width=device-width" />     
	    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />    
	    <link rel="stylesheet" href="/static/css/jstree.min.css" />    
	    <script src="/static/js/jquery-1.11.3.min.js" ></script>
		<script src="/static/js/bootstrap.min.js" ></script> 
	    <script src="/static/js/jquery.address-1.6.js"></script>
	    <script src="/static/js/jstree.min.js"></script> 
	</head>
	<body> 
		<div class=" col-md-12" style="margin-left: -15px;width:101%">
			<div class="col-md-2 panel panel-default"  id="host_tree" style="overflow-y:auto;">
				<ul style="margin-left: -50px;">
					<table class="table table-hover">
				      	<thead>
				          	<tr>
					            <th>节点列表</th>
				          	</tr>
						</thead>
				      	<tbody>
							<!-- 判断主机名中是否含"." -->
								{% for i in node_data %}
									{% if "." in i.host_name  %}
										<tr>
											<th>
												<li style="list-style-type:none;">
													<a href="javascript:void(0)" >{{ i.host_name }}</a>
											   </li>
											 </th>
										</tr>	
									{% else %}
										<tr>
											<th>
												<li style="list-style-type:none;">
													<a href="javascript:void(0)" >{{ i.host_name }}</a>
											   </li>
											</th>
										</tr>
								   	{% endif %}
							   	{% endfor %}
						</tbody>		
					</table>
				</ul>
		  	</div>
		  	<div class="col-md-10 panel panel-default" id="process_title">
			  	<table class="table table-hover"  style="table-layout: fixed;WORD-BREAK: break-all; WORD-WRAP: break-word">
			      	<thead>
			          	<tr>
				            <th>名称</th>
				            <th>大小</th>
				            <th>类型</th>
				            <th  width="220">修改时间</th>
				            <th>权限</th>
				            <th>所属用户</th>
				            <th>所属用户组</th>
			          	</tr>
					</thead>
			      	<tbody id="process_content" class='false'>
						
					</tbody>		
				</table>
		  	</div>
		</div>
	    <script type="text/javascript">
			$(function(){
				//获取父iframe高度
				var height = $("#tab_42 iframe",window.parent.document).height() - 25;
				$("#host_tree").css('height',height);
				$("#process_title").height(height);
			});
			$('#host_tree a').click(function(){
				var host_name = $(this).html();
				$('#process_content').html('');
				$.ajax({
					type:"post",
					url:"{% url 'mgr_process' %}",
					data:{host_name:host_name},
					success:function(arg){
						var obj = jQuery.parseJSON(arg)
							$.each(obj,function(k,v){
								var folder_name = v.name
								var folder_size = v.size;
								var folder_type = v.file_type;
								var folder_modify_time = v.modify_time;
								var folder_permission = v.permission;
								var folder_username = v.username;
								var folder_group = v.group;
								var table_content = '<tr> + <th>'+folder_name+
													'</th> + <th>'+folder_size+ ' 字节' +
													'</th> + <th>'+folder_type+
													'</th> + <th>'+folder_modify_time+
													'</th> + <th>'+folder_permission+
													'</th> + <th>'+folder_username+
													'</th> + <th>'+folder_group+
													'</th> + </tr>';
								$('#process_content').append(table_content);
							});
						if (!$('#process_content').html()){
							$('#process_content').html('没有进程信息');
						};
					},
					error:function(arg){
					}
				}); //ajax结束
			});
		</script>
	</body>
</html>	


