<div class="list-group col-md-1">
  <div class="list-group-item active">
   	节点名
  </div>
  {% for i in node_data %}
  	<a href="javascript:void(0);" id="{{ i.host_name }}" class="list-group-item" data-toggle="modal" data-target=".node-modal" >{{ i.host_name }}</a>
  {% endfor %}	    
</div>

<div class="modal fade node-modal" tabindex="-1" role="dialog">
  	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		        <h4 class="modal-title">节点信息</h4>        
	      	</div>
		    <div class="modal-body">	        
				<h4 id='node_name'></h4>
				<h4 id='host_ip'></h4>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		    </div>
	    </div>
  	</div>
</div>	

<script type="text/javascript">
	$('.list-group a').click(function(){
		var host_name = $(this).attr('id');
		$('.modal-title').html(host_name+'节点监控');
		$('.node_info').html('<a>'+host_name+'</a>')
		$('.modal-body #node_name').html('主机名: '+host_name)
		$.ajax({
			type:"post",
			url:"{% url 'node_monitor' %}",
			data:{host_name:host_name},
			success:function(arg){
				var obj = jQuery.parseJSON(arg);
				$('.modal-body #host_ip').html('主机IP: '+obj.host_ip);
				if (obj.disk_info){
					console.log(obj.disk_info.disk_name);
				}else{
					console.log('没有磁盘信息');
				};
			},
			error:function(arg){
				alert('无法获取主机信息!');
			}
		});
	});
</script>